<!-- <p>edit-req works!</p>
<div class="container">
    <div class="row">
        <div class="form-bg">
            <form #editTravelForm="ngForm" (ngSubmit)="edittravel()">
                <div class="panel panel priamry">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Request</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="fromLocation">fromLocation</label>
                            <input id="fromLocation" class="form-control" name="fromLocation" [(ngModel)]="newtravel.fromLocation" required>
                          </div>
              
                          <div class="form-group">
                            <label for="toLocation">toLocation</label>
                            <input id="toLocation" class="form-control" name="toLocation" [(ngModel)]="newtravel.toLocation" required>
                          </div>
                        <div class="form-group">
                            <label for="requestDate">requestDate </label>
                            <input id="requestDate" class="form-control" name="requestDate" [(ngModel)]="newtravel.requestDate" type="datetime">
                        </div>
                        <div class="panel-footer"> <button [disabled]="editTravelForm.invalid"
                                class="btn btn-primary">Submit</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
<p>edit-req works!</p>
<div class="container">
    <div class="row">
        <div class="form-bg">
            <form #editTravelForm="ngForm" (ngSubmit)="edittravel()">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Request</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="fromLocation">From Location</label>
                            <input id="fromLocation" class="form-control" name="fromLocation" [(ngModel)]="newtravel.fromLocation" required>
                        </div>
              
                        <div class="form-group">
                            <label for="toLocation">To Location</label>
                            <input id="toLocation" class="form-control" name="toLocation" [(ngModel)]="newtravel.toLocation" required>
                        </div>
                        <div class="form-group">
                            <label for="requestDate">Request Date</label>
                            <input id="requestDate" class="form-control" name="requestDate" [(ngModel)]="newtravel.requestDate" type="datetime">
                        </div>
                        <div class="panel-footer">
                            <button [disabled]="editTravelForm.invalid" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
