<p>detail-travel works!</p>
<h2> TravelRequest Detail</h2><br>
<table class="table table-striped" >
    <tr><td>RequestId </td><td>{{thistravel.requestId}}</td></tr>
    <tr><td>Employee Id</td><td>{{thistravel.employeeId}}</td></tr>
    <tr><td>FromLocation</td><td>{{thistravel.fromLocation}}</td></tr>
    <tr><td>ToLocation</td><td> {{thistravel.toLocation}}</td></tr>
    <tr><td>RequestDate</td><td>{{thistravel.requestDate}}</td></tr>
    <tr><td>ApproveStatus</td><td>{{thistravel.approveStatus}}</td></tr>
    <tr><td>BookingStatus</td><td>{{thistravel.bookingStatus}}</td></tr>
    <tr><td>CurrentStatus</td><td>{{thistravel.currentStatus}}</td></tr>
    
</table>